.document-title {
  border-bottom: 1px solid white;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.back-btn {
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.2s ease;
  margin-top: 20px;
  margin-left: 2px;
}

.back-btn:hover {
  transform: scale(1.1);
}

.back-btn:active {
  transform: scale(1);
}