.documentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.code-input {
  height: 500px;
}

.user-options {
  display: flex;
  flex-direction: column;
}

.code-language, .highlighted-lines {
  padding: 0.3rem;
  background-color: transparent;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  margin-bottom: 10px;
}

.highlighted-lines {
  padding: 0.4rem;
}