.documentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.code-input {
  height: 500px;
}

.code-snippet {
  padding-bottom: 100px;
}

.user-options {
  display: flex;
  flex-direction: column;
}